// ********** top page ********** //
.cmn-ttl {
    font-size: 30px;
    font-family: vdl-logojrblack, sans-serif;
    font-style: normal;
    font-weight: 900;
}

.inner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.main-visual {
    position: relative;
    max-width: 1280px;
    width: 100%;
    height: 100%;
    margin: 50px auto;
    padding: 50px 0 100px;
    background-color: $main-color;
    z-index: 0;
    clip-path: polygon(0 0, 100% 4%, 100% 97%, 0% 100%);
    &:before {
        content: '';
        position: absolute;
        top: 2px;
        left: 3.5px;
        width: 99.5%;
        height: 99.5%;
        background-image: url('assets/img/mv-line.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        clip-path: polygon(0 0, 100% 4%, 100% 97%, 0% 100%);
    }
    &:after {
        content: '';
        position: absolute;
        width: 99.5%;
        height: 99.5%;
        top: 2px;
        left: 3.5px;
        clip-path: polygon(0 0, 100% 4%, 100% 97%, 0% 100%);
        background-color: $secondary-color;
        z-index: -1;
    }
}

.info-covid {
    display: block;
    max-width: 380px;
    margin: -30px auto 0;
    padding: 10px 20px;
    background-color: #d83752;
    color: $secondary-color;
    text-align: center;
    font-weight: 500;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 2px solid $main-color;
    box-shadow: inset 3px 3px 5px $secondary-color;
}

.slider {
    max-width: 750px;
    margin: 50px auto 0;
    .slide-img {
        border: 2px solid $main-color;
    }
    .slick-prev,
    .slick-next {
        width: 40px;
        height: 40px;
        background-color: $main-color;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
    .slick-prev {
        left: -50px;
    }
    .slick-next {
        right: -50px;
    }
    .slick-prev:before {
        content: "<";
        color: $secondary-color;
        font-size: 26px;
        font-family: monospace;
        opacity: 1;
    }
    .slick-next:before {
        content: ">";
        color: $secondary-color;
        font-size: 26px;
        font-family: monospace;
        opacity: 1;
    }
    .slick-prev:hover,
    .slick-prev:focus,
    .slick-next:hover,
    .slick-next:focus {
        background: $main-color;
        color: $secondary-color;
    }
    .slick-dots {
        padding: 12px 0 3px 0;
        background: url('assets/img/dot-box.svg') no-repeat center;
        bottom: -70px;
        background-size: contain;
    }
    .slick-dots li {
        margin: 0;
    }
    .slick-dots li.slick-active button:before {
        opacity: 1;
        background: #000;
    }
    .slick-dots li button {
        width: 7px;
        height: 7px;
    }
    .slick-dots li button:before {
        content: '';
        width: 7px;
        height: 7px;
        font-size: 7px;
        color: transparent;
        border: 1px solid #000;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        opacity: 1;
    }
}

.mv-txt {
    &--txt01 {
        position: absolute;
        max-width: 250px;
        top: 50%;
        left: 0;
    }
    &--txt02 {
        position: absolute;
        width: 5%;
        top: 50%;
        right: 0;
    }
    &--txt03 {
        position: absolute;
        width: 16%;
        bottom: -30px;
        left: 5%;
        z-index: 0;
    }
}

.news-wrap {
    margin: 50px 0;
    .news-ttl {
        max-width: 241px;
        padding: 30px 0;
        color: $secondary-color;
        background-color: $main-color;
        text-align: center;
        clip-path: polygon(0 0, 100% 14%, 100% 88%, 0% 100%);
    }
    .news-in {
        position: relative;
        padding: 100px 0;
        background: url('assets/img/news-bg.png') no-repeat center;
        background-size: 100% 100%;
        &::after {
            content: '';
            position: absolute;
            top: -100px;
            right: -20px;
            width: 25%;
            height: 90%;
            background: url(assets/img/news-girl.svg) no-repeat center;
        }
    }
}

.news-box {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        background: url('assets/img/news-bg01.png') no-repeat center;
        background-size: 90%;
    }
}

.news-detail {
    position: relative;
    margin-top: -25px;
    left: 10px;
    width: 90%;
    height: 100%;
    padding: 30px 100px;
    background-color: #000;
    -webkit-clip-path: polygon(0 0, 100% 6%, 100% 94%, 3% 100%);
    clip-path: polygon(0 0, 100% 6%, 100% 94%, 3% 100%);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    dl {
        margin-bottom: 15px;
        font-size: 12px;
        dt {
            margin-right: 20px;
        }
        &:nth-child(2) {
            margin-left: 10px;
            dt {
                margin-right: 10px;
            }
        }
    }
    &:after {
        position: absolute;
        content: '';
        top: 2.5px;
        left: 3px;
        width: 99.4%;
        height: 97.2%;
        -webkit-clip-path: polygon(0 0, 100% 6%, 100% 94%, 3% 100%);
        clip-path: polygon(0 0, 100% 6%, 100% 94%, 3% 100%);
        background-color: #fff;
        z-index: -1;
    }
}