// ********** header ********** //
.hd-inner {
    width: 95%;
    margin: 0 auto;
    justify-content: space-between;
}

.hd-logo {
    max-width: 220px;
    width: 30%;
}

.nav-list {
    margin-top: 40px;
    li {
        margin: 0 5px;
        a {
            padding: 8px 10px;
            background-color: #e5c54f;
            border-radius: 5px;
            text-align: center;
            box-sizing: border-box;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            border: 2px solid $main-color;
            box-shadow: inset 3px 3px 5px #fff;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}