// ********** header ********** //
header {
    position: relative;
    z-index: 99;
}

.hd-inner {
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    @include mediaQuerySp($spMaxWidth) {
        width: 93%;
        margin: 20px auto 0;
        align-items: center;
    }
}

.hd-logo {
    max-width: 175px;
    width: 30%;
    @include mediaQuerySp($spMaxWidth) {
        max-width: 200px;
        width: 50%;
    }
}

.nav-list {
    margin-top: 50px;
    li {
        margin: 0 5px;
        @include mediaQueryMiddlePc($pcMiddleWidth) {
            margin: 5px;
        }
        a {
            display: block;
            padding: 7px 10px;
            background-color: #fbc723;
            border-radius: 5px;
            text-align: center;
            box-sizing: border-box;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            border: 2px solid $main-color;
            box-shadow: inset 3px 3px 5px #fff;
            font-weight: 500;
        }
        &:last-child {
            margin-right: 0;
        }
    }
    @include mediaQueryMiddlePc($pcMiddleWidth) {
        justify-content: center;
        align-items: center;
    }
}