// ********** header ********** //
header {
    position: relative;
    z-index: 99;
}

.hd-inner {
    width: 95%;
    margin: 0 auto;
    justify-content: space-between;
    @include mediaQuerySp($spMaxWidth) {
        width: 90%;
        align-items: center;
    }
}

.hd-logo {
    max-width: 175px;
    width: 30%;
    .hd-txt01 {
        display: block;
        margin-bottom: 10px;
        font-size: 11px;
        text-align: center;
        font-weight: 900;
        @include mediaQuerySp($spMaxWidth) {
            font-size: 8px;
        }
    }
    .hd-txt02 {
        display: block;
        font-size: 12px;
        text-align: center;
        font-weight: 900;
        @include mediaQuerySp($spMaxWidth) {
            font-size: 8px;
        }
        span {
            display: inline-block;
            font-size: 22px;
            @include mediaQuerySp($spMaxWidth) {
                font-size: 18px;
            }
        }
    }
}

.nav-list {
    margin-top: 50px;
    li {
        margin: 0 5px;
        @include mediaQueryMiddlePc($pcMiddleWidth) {
            margin: 5px;
        }
        a {
            display: block;
            padding: 8px 10px;
            background-color: #e5c54f;
            border-radius: 5px;
            text-align: center;
            box-sizing: border-box;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            border: 2px solid $main-color;
            box-shadow: inset 3px 3px 5px #fff;
        }
        &:last-child {
            margin-right: 0;
        }
    }
    @include mediaQueryMiddlePc($pcMiddleWidth) {
        justify-content: center;
        align-items: center;
    }
}