// ********** footer ********** //
.footer {
    padding: 100px 0;
    background-image: url('assets/img/ft-bg01.png');
    background-size: 100%;
    background-color: #f2e042;
    border: 3px solid $main-color;
    border-top: 0px;
    .ft-logo {
        justify-content: center;
        align-self: start;
        &--logo1 {
            width: 22%;
            margin-right: 50px;
        }
        &--logo2 {
            width: 20%;
        }
    }
}